---
layout: default
---

<div class="uk-section uk-section-small uk-section-default">
  <div class="uk-container uk-container-small">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
      <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
        <img src="/assets/images/mountains.jpg" alt="" uk-cover>
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Kim jestem?</h3>
          <p>Nazywam się Mateusz i jestem Front-end Developerem, programuję od ponad 10 lat. W wolnych chwilach bloguję oraz bawię się Back-endem. Na tym blogu znajdziesz wiele, porad, tutoriali oraz moich przemyśleń na temat frontendu.</p>
          <a class="uk-button uk-button-primary" href="/about/">Dowiedz się więcej</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="uk-section uk-section-small uk-section-default">
  <div class="uk-container uk-container-small">
    <div class="uk-child-width-1-2@s" uk-grid="masonry: true">

      {%- for post in paginator.posts -%}
        <div>
          <div class="uk-card uk-card-default">
              <div class="uk-card-media-top">
                  <a class="post-thumbnail" style="background-image: url()" href="{{post.url | prepend: site.baseurl}}"></a>
                  <img src="{{prepend: site.baseurl | append : post.thumbnail}}" alt="">
              </div>
              <div class="uk-card-body uk-text-center">
                  {%- for cat in post.categories[0] -%}
                    <div class="uk-card-badge uk-label">{{cat}}</div>
                  {%- endfor -%}
                  <a href="{{ post.url | relative_url }}" class="uk-button uk-button-text"><h3 class="uk-card-title">{{ post.title | escape }}</h3></a>
                  <p>{{ post.excerpt }}</p>
              </div>
              <div class="uk-card-footer">
                  <a href="{{ post.url | relative_url }}" class="uk-button uk-button-text">Więcej</a>
              </div>
          </div>
        </div>
      {%- endfor -%}
      
    </div> 

    <ul class="uk-pagination">
      {% if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path }}"><span class="uk-margin-small-right" uk-pagination-previous></span> Poprzednia strona</a></li>
      {% endif %}

      {% if paginator.next_page %}
        <li class="uk-margin-auto-left"><a href="{{ paginator.next_page_path }}">Następna strona <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
      {% endif %}
    </ul>

  </div>
</div>