---
layout: default
---

<div id="wrapper">
  <section id="intro" class="main">
    <span class="icon fa-diamond major"></span>
    <h2>Kim jestem?</h2>
    <p>Nazywam się Mateusz i jestem Front-end Developerem, programuję od ponad 10 lat. W wolnych chwilach bloguję oraz bawię się Back-endem. Na tym blogu znajdziesz wiele, porad, tutoriali oraz moich przemyśleń na temat frontendu.</p>
    <ul class="actions">
      <li><a href="/about/" class="button big">Dowiedz się więcej</a></li>
    </ul>
  </section>
    
  <section class="main items">
    {%- for post in paginator.posts -%}
      <article class="item">
        <header>
          <!-- <a href="{{ post.url | relative_url }}" style="background-image: url('{{ post.thumbnail }}');"></a> -->
          <h3>{{ post.title | escape }}</h3>
        </header>
        <p>{{ post.excerpt }}</p>
        <ul class="actions">
          <li><a href="{{ post.url | relative_url }}" class="button">Więcej</a></li>
        </ul>
      </article>
    {%- endfor -%}
  </section>

  <ul class="pagination">
    <li class="left">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="button">Poprzednia</a>
      {% else %}
        <a href="" class="button">Poprzednia</a>
      {% endif %}
    </li>
    <li class="right">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="button">Następna</a>
      {% else %}
        <a href="" class="button">Następna</a>
      {% endif %}
    </li>
  </ul>